<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <servlet>
        <servlet-name>peaks</servlet-name>
        <servlet-class>peaks.PeaksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>peaks</servlet-name>
        <url-pattern>/peaks</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <use-google-connector-j>true</use-google-connector-j>  
</web-app>